html,body{
    overflow-x: hidden;
}
.noscroll{
    overflow: hidden !important;
    width:100%;
    height:100%;

}
.is-drilldown{
    min-height:auto !important;
}
.back{
    font-size:0.8rem;
    float:right;
    padding:0.4em 1em;
    color:$cs;
    border:1px solid $cm;
    margin-top:10px;
    cursor: pointer;
    &:hover{
        background:$cm;
        border:1px solid #fff;
        color:#fff;
    }
}
.overlay{
    width:100%;
    height:100%;
    display:none;
    z-index: 998;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.75);
}
.clear{
    clear:both;
}
section{
    max-width:1920px;
    margin:0 auto;
}
.bg-w{
    background-color:#fff;
}
.bg-cs{
    background-color:$cs;
}
.bg-ct{
    background-color:$ct;
}
.bg-cm{
    background-color:#025D8F;
}
.bg-cf{
    background-color:$cf;
}
.bg-cn{
    background-color:#2787B8;
}



.bg-gray{
    background-color:#E7E7E7;
}
.c-w{
    color:#fff;
}
.c-cm{
    color:$cm;
}

.c-cs{
    color:$cs;
}
.c-ct{
    color:$ct;
}
.container1 {
    cursor: pointer;
    float:right;
    position: relative;
    z-index: 999;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: $ct;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.slide-h{
    .orbit-bullets{

      @media screen and (min-width: 920px) {
        position: absolute;
        bottom:20px;
        left:0;
        width:100%;
      }
      button{
          width:1.1rem;
          height:1.1rem;
          margin:.2rem;
          border:1px solid $cm;
          &.is-active{
           background-color:$cm;
           border:3px solid #fff;
          }
      }
    }
}
.all-m{
 padding:30px 0;
}
.i-group{
    color:$cm;
    margin-bottom:20px;
    .icon-web{
        font-size:5rem;
        text-align: center;
        @media screen and (max-width: 638px) {
            font-size:3.5rem;
        }
    }
    &:hover{
      color:$ct;
    }

    .text-in{
        font-size:1.2rem;
        @media screen and (max-width: 768px) {
            font-size:0.8rem;
        }
    }

}
header{
    background-color:$cs;
    min-height:50px;
    border-bottom:7px solid $ct;
    box-shadow: 0 4px 2px -2px gray;
}
.searchweb{
    width:100%;
    display:block;
    max-width:270px;
    float:right;
    margin-right:25px;
    padding-bottom:3px;
    padding-top:7px;
    form{
        position: relative;
    }
    input{
        border-radius:3px;
        max-width:270px;
        width:90%;
        height:30px;
        border:1px solid $cm;
        float:right;
        &::-webkit-input-placeholder {
            text-align: center;
         }
         
         &:-moz-placeholder { /* Firefox 18- */
            text-align: center;  
         }
         
         &::-moz-placeholder {  /* Firefox 19+ */
            text-align: center;  
         }
         
         &:-ms-input-placeholder {  
            text-align: center; 
         }
    }
    button{
        border:none;
        height:30px;
        width:35px;
        position:absolute;
        right:0;top:0;
        background:url('../img/icon-search-green.svg') no-repeat center center;
        background-size:20px auto;
    }
}
.menu-main{
    white-space: nowrap;
    max-width:570px;
    float:right;
    @media screen and (max-width: 690px) {
        display:none;
        position:fixed;
        top:0;
        left:0;
        width:80%;
        height:100%;
        z-index:999;
        background-color:$ct;
        //position: absolute;top:90px; right:0;
    }
    li {
        @media screen and (max-width: 639px) {
           background-color:$cs;
        }
        a{
            box-sizing:border-box;
            color:#fff;
            font-size:1.2rem;
            @media screen and (max-width: 768px) {
                font-size:1rem;
            }
            @media screen and (max-width: 690px) {
                font-size:0.8rem;
            }
            @media screen and (max-width: 639px) {
                background-color:$cs;
             }
        }
        &:hover,&.active{

            a{
                //color:$ct;
                background-color:$ct;
            }
        }
    }
}

.logo{
    position: relative;
    z-index: 1;max-width:270px;
    width:100%;
    display:block;
    img{
        max-width:270px;
        width:100%;
        position:absolute;
        z-index: 9999px;
        top:-5px;
    }
}

.box-about-home{
    min-height:100px;
    background-position: center center;
    padding:100px 0;
    .box-in{
        border-bottom:9px solid #F4A053;
        padding:30px 0;
        font-size:1.4rem;
        @media screen and (max-width: 768px) {
        font-size:1rem;
        }
        @media screen and (max-width: 639px) {
            font-size:0.8rem;
        }
    }
}



.i-p{
    margin-bottom:20px;
    text-align: center;
    font-size:1.2rem;
    
    color:#000;
    padding-top:10px;
    .title-p{
        padding:10px 0 20px 0;
       }
    @media screen and (max-width: 768px) {
        font-size:0.8rem;
    }
    .pic{
        margin-bottom:15px;
    }
    img{
        width:100%;
    }
    &:hover{
        -webkit-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
    }

}
.i-inews{
    h4{
        padding:0.5em 0;
        color:#000;
        @media screen and (max-width: 639px) {
            font-size:1rem;
        }
        @media screen and (max-width: 390px) {
            font-size:0.8rem;
        }
    }
}

.more-news{
    font-size:1.4rem;
    display:inline-block;
    padding:0.5em 1.6em;
    border:1px solid $cm;
    margin:20px 0;
    &.doc-link{
        color:#fff;
        border:1px solid #fff;


    }

    &:hover{
        background-color:$ct;
        color:#fff;
        border:1px solid #fff;
    }
    @media screen and (max-width: 639px) {
        font-size:1rem;
    }
}

.more-doc{
    font-size:1.4rem;
    display:inline-block;
    padding:0.5em 1.6em;
    border:1px solid #fff;
    margin:20px 0;
    background-color:$ct;
    color:#fff;
    &.doc-link{
        color:#fff;
        border:1px solid #fff;


    }

    &:hover{
        background-color:#fff;
        color:#fff;
        border:1px solid $ct;
        color:$ct;
    }
    @media screen and (max-width: 639px) {
        font-size:1rem;
    }
}

.txt{
    font-size:1.2rem;
    color:#7A7A7A;
    span{
        display:block;
        font-size:0.8rem;
    }
    @media screen and (max-width: 639px) {
        font-size:0.8rem;
    }

    @media screen and (max-width: 390px) {
        font-size:0.7rem;
    }
}
.foot-n{
    padding:20px 0;
    color:#7A7A7A;
}
.date-n{
    display:block;
    @media screen and (max-width: 639px) {
        font-size:0.8rem;
    }
}

//footer

.copyright{
    border-top:9px solid #025D8F;
    background-color:$cs;
    padding:1.2em 0;
    color:#fff;

    @media screen and (max-width: 639px) {
        padding:0.5em 0;
        font-size:0.9rem;
    }

    @media screen and (max-width: 420px) {
        font-size:0.6rem;
    }
}

#light-slider{
  li{
      background-color:#fff;
      min-height:200px;
      text-align: center;
      padding:0;
      a{
          width:100%;
      }

      &:hover{
  
        a{
            color:$ct;
        }
    }

  }
}

.cs-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}
.posi-re{
    position: relative;
    display:block;
    padding:30px 20px;
}
#goToPrevSlide{
    position: absolute;
    top:40%;
    left:-80px;
    width:46px;
    height:46px;
    font-size:2rem;
    color:#fff;
    text-align: center;
    background:url('../img/bg-ctr.png') no-repeat center center;
    cursor: pointer;
    @media screen and (max-width: 929px) {
        display:none;
    }
}

#goToNextSlide{
    position: absolute;
    top:40%;
    right:-80px;
    width:46px;
    height:46px;
    font-size:2rem;
    color:#fff;
    text-align: center;
    background:url('../img/bg-ctr.png') no-repeat center center;
    cursor: pointer;
    @media screen and (max-width: 929px) {
        display:none;
    }
}


.box-visit-home{
    min-height:100px;
    background-position: bottom center;
    padding:0 0 100px 0;
    @media screen and (max-width: 710px) {
        padding:0 0 100px 0;
    }
    .box-in{
        border-bottom:9px solid $cs;
        padding:0;

    }
}

.sec-top{
    background:url('../img/bg-z1.jpg') no-repeat right top $cm;
    min-height:200px;
    padding:30px 70px 50px 70px;
    @media screen and (max-width: 710px) {
        background-image:none !important;
    }
    @media screen and (max-width: 550px) {
        padding:20px;
    }
}
.call-center{
    font-size:2.1rem;
    color:#fff;
    font-weight: bold;
    &:hover,&:focus,&:active{
        color:$ct;
    }
}
.i-vi{
    background-color:#fff;
    color:$cm;
    font-size:1.6rem;
    padding:20px;
    border-radius: 3px;
    margin-bottom:20px;
    -webkit-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);

@media screen and (max-width: 840px) {
    font-size:1.2rem;
    padding:10px;
}

@media screen and (max-width: 710px) {
    font-size:0.9rem;
    padding:5px;
}

@media screen and (max-width: 550px) {
    font-size:0.8rem;
    padding:5px;
}
    div{
        color:$cs;
        font-size:1.7rem;
        font-weight: bold;
    }
    &:last-child{
        background-color:$ct;
        color:#fff;
        div{
            color:#fff;

        }
    }
}

.sec-bottom{
    background-color:#E7E7E7;
    min-height:150px;
    h3{
        padding:10px 10px 0px 30px;
        margin:0;font-size:1.4rem;
    }
    hr{
        margin:5px 0 10px 0;
    }
}

.link-img{
    padding:20px 20px 50px 20px;
    img{
        margin-bottom:5px;
    }
}

.menu-footer{
    display:block;
    max-width:650px;
    margin:20px auto;
    li{
        box-sizing: border-box;
        width:19%;
        display:inline-block;
        margin:10px auto;
        text-align: center;
        a{
            padding:0.7em 0.2;
            box-sizing: border-box;
            &:hover{
                color:$ct;
            }
        }
        @media screen and (max-width: 480px) {
            width:31%;
            &:nth-child(4),&:nth-child(5){
                width:49%;
            }
        }

        &.active{
            a{
                color:$ct;
                border-bottom:1px solid $ct;
            }
        }

    }
}

.social{
    width:300px;
    margin:10px auto;
    text-align: center;
    a{
        display:inline-block;
        width:50px;
        height:50px;
        text-align: center;
        color:#fff;
        margin:5px 5px;
        padding-top:5px;
        background-color:$cm;
        border-radius:50%;
        span{
            font-size:1.7rem;
        }
    }
}

.zoom {
    transition: transform 0.4s; /* Animation */

}

.zoom:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.75);
}

.h-page{
    padding:20px 0;
    img{
        max-width:260px;
    }
}

.page-about{
    h1{
        font-size:2.1rem;
        padding:15px 0;
        font-weight:bold;
        @media screen and (max-width: 768px) {
            font-size:1.6rem;
        }
        @media screen and (max-width: 480px) {
            font-size:1.4rem;
        }
    }
    h2{
        font-size:1.8rem;
        color:$cm;
    }
    hr{
        margin:25px 0;
    }
}

.detail-about{
    font-size:1.4rem;
    @media screen and (max-width: 768px) {
        font-size:1rem;
    }
    img{
        max-width:100%;
        height:auto !important;
    }

}

.page-per{
   .i-per{
       margin-bottom:20px;
   }
}

.b-name{
    p{
        margin:0;
        padding:10px 0;
        text-align: center;
        font-size:1.4rem;
        @media screen and (max-width: 768px) {
            font-size:0.8rem;
        }
        @media screen and (max-width: 480px) {
            font-size:0.7rem;
        }
    }
}
#map{
    min-height:550px;
}

.gg{
    max-width:300px;
    h1{
        font-size:1.4rem;
    }
}

.box-contact{
    h3{
        padding:20px 0 0 0 ;
        font-size:1.6rem;
    }

    .r-t{
        padding:10px 0;
        @media screen and (max-width: 768px) {
            font-size:0.8rem;
        }
        @media screen and (max-width: 480px) {
            font-size:0.7rem;
        }
    }
}


.box-complaint{
    .b-in{
        padding:20px 0;
        min-height:300px;
        color:#fff;
        background-size:cover;
        font-size:1.4rem;
        border-bottom:9px solid #F4A053;
        @media screen and (max-width: 480px) {
            font-size:0.8rem;
        }
        .form-error{
            color:$ct;
            font-size:1.2rem;
            @media screen and (max-width: 480px) {
                font-size:0.7rem;
            }
        }

        form{
            button{
                @media screen and (max-width: 480px) {
                    font-size:1rem;
                }
            }
        }
    }

}

.logo-com{
   img{
    @media screen and (max-width: 600px) {
        max-width:300px !important;
    }
   }

}

.box-detail-news{
    padding:30px 20px;
    margin-top:30px;
}

.de-box{
    font-size:1.2rem;
}
.row-ta{

    .grid-container{
        padding-top:50px;
        padding-bottom:50px;
    }
    .box-in{
        width:96%;
        margin-left:2%;
        padding:0;
        -webkit-box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.75);
box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.75);
        border-bottom:7px solid $cs;
      .title-box{
          text-align: center;
          font-size:1.6rem;
          background-color:#fff;
          padding:20px 10px;
          border-bottom:1px solid #E7E7E7;
          @media screen and (max-width: 768px) {
            font-size:1.2rem;
        }
      }
    }
    .grid-x{
        padding:20px 0;
        color:$ct;
        font-weight:bold;
        background-color:#fff;
        .cell{
            @media screen and (max-width: 768px) {
                font-size:1rem;
            }
            @media screen and (max-width: 639px) {
                font-size:0.8rem;
            }
        }
      
        &:nth-child(2n){
            background-color:#E7E7E7;
        }
        .cell:last-child{
            text-align: center;
        }

        .i-p{
            background-color:#fff;
            padding-top:10px;
            .title-p{
             padding:10px 0 20px 0;
            }
            &:hover{
                -webkit-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
            }
        }

        &:hover{
            color:$cs;
        }
    }
}
.i-pdf{
    width:25px;
    height:35px;
    background:url('../img/i-pdf.svg') no-repeat center center;
    display:inline-block;
    margin:auto;
}

.list-pdf{
    .grid-container{
        padding-top:50px;
        padding-bottom:50px;
        background-color:#E7E7E7;
    }

    .cell{
        background-color:#fff;
        min-height:200px;
        text-align: center;
        margin-bottom:30px;
        @media screen and (max-width: 520px) {
          padding:10px 0 10px 0;
          min-height:100px;
      }
        a{
            width:100%;
            padding:25px 10px;
            display:block;
          .icon-pdf{
              font-size:3.7rem;
              @media screen and (max-width: 520px) {
                  font-size:2.7rem;
              }
          }
          .text-ls{
              padding:20px 0 0 0;
              @media screen and (max-width: 920px) {
                  font-size:0.9rem;
  
              }
              @media screen and (max-width: 520px) {
                  font-size:0.8rem;
                  padding:10px 0 0 0;
              }
          }
        }
  
        &:hover{
    
          a{
              color:$ct;
          }
          -webkit-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
          box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
      }


  
    }
}


.ipagination{
  width:auto;
  display:block;
  float:right;
  text-align: center;
  margin:0;padding:0;
  li{
      
    display:inline-block;
      padding:0.3em;
      font-weight: bold;
      &.curlink{
          color:$ct;
      }
  }
}

.price-main-box{

    .grid-container{
        min-height:400px;
        padding-bottom:100px;
        @media screen and (max-width: 768px) {
            padding-bottom:30px;
            min-height:200px;
        }
    }
    h3{
        margin-top:70px;
        @media screen and (max-width: 768px) {
            margin-top:30px;
        }
    }
}

.i-m{
    h4{
        padding:20px 0;
        color:$cs;
        font-size:1.4rem;
        height:100px;
        @media screen and (max-width: 1120px) {
            font-size:1.2rem;
        }
        @media screen and (max-width: 980px) {
            font-size:1rem;
        }
        @media screen and (max-width: 768px) {
            font-size:0.8rem;
            height:70px;
        }
    }

    &:hover{
        opacity: 0.8;
    }
}

.calendar-box{
    h3{
        padding-top:50px;
    }
    .grid-container{
        padding-bottom:70px;
    }
}

.calen{
    .week{
        td{
            &:first-child,&:last-child{
                background:$cs;
                color:#fff;
            }
        }

    }
    td{
        position: relative;
        border:2px solid #fff;
        @media screen and (max-width: 768px) {
          font-size:0.7rem;
        }
        a{
            position: absolute;
            width:100%;
            height:100%;
            background:$ct;
            top:0;
            left:0;
            padding: .5rem .625rem .625rem;
            color:#fff;
        }
    }
    tbody tr:nth-child(2n) {
        border-bottom: 0;
        background-color: #E7E7E7;
    }
    tbody tr:nth-child(n) {
        border-bottom: 0;
        background-color: #E7E7E7;
    }
}

.prev-calen{
    display:block;
    float:left;
    padding:10px 0;
    font{
        padding-left:10px;
    }
}

.next-calen{
    display:block;
    float:right;
    padding:10px 0;
    font{
        padding-right:10px;
    }
}
.box-list-activity{
   margin-top:90px;
   background:#fff;
   min-height: 255px;
   -webkit-box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.75);
box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.75);

@media screen and (max-width: 639px) {
    margin-top:0px;
  }
   h4{
       font-size:1rem;
       padding:5px 10px;
       background-color:$cs;
       color:#fff;
   }

   ul{
    list-style-type:none;
    padding-top:10px;
    padding-bottom:30px;
       li{
        
           a{
            p{
                margin-bottom:3px;
            }
           }

       }
   }
}
.box-link-micro{
    padding-bottom:70px;
    .box-in{
        border-bottom:7px solid $cs;
    }
}

.poll-vote{
   .grid-container{
       padding-top:30px;
       padding-bottom:70px;
       .in-vote{
           padding:50px 20px;
       }
   }
}

.stat{
    padding-left:50px;
    @media screen and (max-width: 639px) {
        padding-left:10px;
    }

    .i-stat1{
        font-size:1.8rem;
        font-weight:bold;
        padding:0.6em 10px;
        color:$cs;
        @media screen and (max-width: 768px) {
            font-size:1rem;
        }

    }
    .i-stat2{
        font-size:1.6rem;
        padding:0.9em 10px;
        color:#fff;
        @media screen and (max-width: 1120px) {
            font-size:1rem;
        }

         @media screen and (max-width: 768px) {
            font-size:0.9rem;
            line-height:1rem;
        }
    }
}