$cm : #008049,;
$cs :#7CA242;
$ct : #F4A053;
@import url('https://fonts.googleapis.com/css?family=Prompt');
body
{
	font-family: 'Prompt', sans-serif, Arial;
	font-size: 14px;
}
a,a:hover {
    text-decoration: none;
}
.btn-web{
    margin:10px;
}
header{
    .logo{
        display:block;
        padding-top:10px;
        float:left;
    }
    background-color:$cs;
    border-bottom:7px solid $ct;
    ul.menu-main{
        display:block;
        padding:10px 0;
        li{
            float:left;
            display:block;
            position: relative;
            a{
                color:#fff;
                padding:0.7em 1.2em;
                display:block;
                &:hover{
                    color:$ct;
                }
            }
            ul.dropdown{

                position:absolute;
                left:0;
                background-color:$ct;
                display:none;
                padding:0;
                z-index: 99;
                li{
                    float:none;
                    display:block;
                    border-bottom:1px solid #fff;
                    a{
                        white-space: nowrap;
                        color:#000;
                    }

                    &:hover{
                        a{
                            color:#000;
                        }
                    }

                }
            }

            &:hover{
                ul.dropdown{
                    display:block;
                }
            }
            &.active{
                border:1px solid $ct;
                background:#fff;
                a{
                    color:$ct;
                }
            }
        }
    }
}
