.i-login{
    background-color:#F4A053;
    min-height:300px;
    margin-top:150px;
    padding:20px;
    border-radius: 10px;
    label{
        font-size:1.2rem;
        font-weight: bold;
        color:#fff;
    }
    img{
        margin:0 auto;
        display:block;
    }
}

body{
    background:url('../img/bg-login.jpg') no-repeat center center;
    background-size:cover;
    padding:0;
    margin:0;
}
html,body{
    width:100%;
    height:100%;
}
